// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

h1 {
    font-size: 30px;
    font-family: Arial, san-serif;
    font-weight: normal;
}

#footer {
    background-color: #f8f8f8;
    border: 1px #e7e7e7 solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    
    .footer_text {
        padding: 10px 0;
        margin: 0;
    }
}

.alert-error {
    @extend .alert-warning;
}