#welcome_index h1 {
    color: red;
    font-size: 36px;
    font-family: Arial, san-serif;
    font-weight: normal;
}

#footer {
    background-color: #f8f8f8;
    border: 1px #e7e7e7 solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    
    .footer_text {
        padding: 10px 15px;
        margin: 0;
    }
}